In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('messy_data.csv', encoding='Latin-1', sep=';')

In [3]:
df.head()

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"

# Check for duplicate rows and dropping unnecessary columns.

In [4]:
# Check for duplicate rows in the dataset.

sum(df.duplicated())

0

In [5]:
# Dropping the 'Imbd title Id' and 'Unnamed: 8' columns.

df.drop(columns = ['IMBD title ID', 'Unnamed: 8'], axis=1, inplace=True)

In [6]:
df.head()

,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"

# Renaming columns, and replacing spaces with underscore in the column names.

In [7]:
# Renaming some columns and reassigning it to the dataframe with the inplace argument.

df.rename(columns = {'Original titlÊ': 'movie title', 'Genrë¨':'genre', 'Content Rating':'rating', ' Votes ':'votes'}, inplace=True)

In [8]:
# Replacing whitespace in column names with underscore, and converting column names to lowercase.

df.columns = df.columns.str.replace(' ', '_').str.lower()

In [9]:
df.head(3)

,movie_title,release_year,genre,duration,country,rating,director,income,votes,score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.

# Cleaning the dataset

## Cleaning the 'country' column.
 ### 1. Accessing the unique countries in the _country_ column
 ### 2. Replacing countries with multiple variations

In [10]:
# Access the unique countries in the 'country' coolumn. 

df.country.unique()

array(['USA', 'US', 'New Zealand', 'UK', 'New Zesland', 'Italy', nan,
       'New Zeland', 'US.', 'Brazil', 'Japan', 'Italy1', 'South Korea',
       'France', 'Germany', 'India', 'Denmark', 'West Germany', 'Iran'],
      dtype=object)

In [11]:
# Replacing countries with multiple variations. Example USA == US, New Zealand == New Zesland etc.

df.country.replace({'US.':'USA', 'US':'USA', 'New Zesland':'New Zealand', 'West Germany':'Germany', 
                    'Italy1':'Italy', 'NaN':'None'}, inplace=True)
df.country.unique()

array(['USA', 'New Zealand', 'UK', 'Italy', nan, 'New Zeland', 'Brazil',
       'Japan', 'South Korea', 'France', 'Germany', 'India', 'Denmark',
       'Iran'], dtype=object)

## Split the genre column into two by ',' delimiter then extract the first genre.

In [12]:
# Spliting the genre column to extract only the first genre.

df.genre = df.genre.str.split(',', n=1, expand=True)[0]

In [13]:
df.head()

,movie_title,release_year,genre,duration,country,rating,director,income,votes,score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,The Godfather,09 21 1972,Crime,175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,The Dark Knight,23 -07-2008,Action,152,USA,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"

## Accessing the unique values in the *rating* column, their counts, and sum of null values if any. Then replace the null values and leave data type as is.

In [14]:
# Accessing the unique values and their counts in the 'rating' column

print("Unique ratings: ", df.rating.unique())
print("\nSum of unique ratings: ")
print(df.rating.value_counts(), '\n')
print("Sum of null values: ", sum(df.rating.isnull()))

Unique ratings:  ['R' 'PG-13' 'Not Rated' 'Approved' nan 'PG' 'Unrated' 'G']

Sum of unique ratings:
R            45
PG-13        12
PG           11
G             6
Not Rated     1
Approved      1
Unrated       1
Name: rating, dtype: int64

Sum of null values:  24

In [15]:
# Replacing the null values with 'Unrated' using the np.NaN argument

df.rating.replace(np.NaN, 'Unrated', inplace=True)
print(df.rating.value_counts())

R            45
Unrated      25
PG-13        12
PG           11
G             6
Not Rated     1
Approved      1
Name: rating, dtype: int64

## Removing special characters, replacing alphabets with string digits then converting *income* column to integer data type.

In [16]:
# Removing the '$' and ',' in the 'income' column, and converting it to an int datatype.

df.income = df.income.str.lstrip('$ ').str.replace(',', '').str.replace('o', '0').fillna(0).astype(np.int64)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_title   100 non-null    object
 1   release_year  100 non-null    object
 2   genre         100 non-null    object
 3   duration      99 non-null     object
 4   country       100 non-null    object
 5   rating        101 non-null    object
 6   director      100 non-null    object
 7   income        101 non-null    int64
 8   votes         100 non-null    object
 9   score         100 non-null    object
dtypes: int64(1), object(9)
memory usage: 8.0+ KB

In [18]:
pd.set_option('display.max_rows', None)

In [19]:
# Drops the 13th row as all values in that row are NaN

df.drop(13, axis=0, inplace=True)

In [20]:
df.reset_index()

,index,movie_title,release_year,genre,duration,country,rating,director,income,votes,score
0,0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,1,The Godfather,09 21 1972,Crime,175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,2,The Dark Knight,23 -07-2008,Action,152,USA,PG-13,Christopher Nolan,1005455211,2.241.615,9.
3,3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,408035783,1.098.714,"9,.0"
4,4,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
5,5,The Lord of the Rings: The Return of the King,22 Feb 04,Action,201,New Zealand,PG-13,Peter Jackson,1142271098,1.604.280,08.9
6,6,Schindler's List,1994-03-11,Biography,Nan,USA,R,Steven Spielberg,322287794,1.183.248,8.9
7,7,12 Angry Men,1957-09-04,Crime,96,USA,Not Rated,Sidney Lumet,576,668.473,8.9
8,8,Inception,2010-09-24,Action,148,USA,PG-13,Christopher Nolan,869784991,2.002.816,8..8
9,9,Fight Club,10-29-99,Drama,Inf,UK,R,David Fincher,101218804,1.807.440,8.8
10,10,Forrest Gump,1994-10-06,Drama,142,USA,PG-13,Robert Zemeckis,678229452,1.755.490,8:8
11,11,The Lord of the Rings: The Fellowship of the Ring,2002-01-18,Action,178c,New Zealand,PG-13,Peter Jackson,887934303,1.619.920,8.8
12,12,"Il buono, il brutto, il cattivo",23rd December of 1966,Western,161,Italy,Approved,Sergio Leone,25252481,672.499,8.8
13,14,The Matrix,1999-05-07,Action,NaN,USA,R,"Lana Wachowski, Lilly Wachowski",465718588,1.632.315,++8.7
14,15,The Lord of the Rings: The Two Towers,01/16-03,Action,179,New Zeland,PG-13,Peter Jackson,951227416,1.449.778,8.7.
15,16,Star Wars: Episode V - The Empire Strikes Back,1980-09-19,Action,Not Applicable,USA,PG,Irvin Kershner,549265501,1.132.073,"8,7e-0"
16,17,Goodfellas,1990-09-20,Biography,146,USA,R,Martin Scorsese,46879633,991.505,8.7
17,18,One Flew Over the Cuckoo's Nest,18/11/1976,Drama,-,USA,R,Milos Forman,108997629,891.071,8.7
18,19,Interstellar,2014-11-06,Adventure,169,USA,PG-13,Christopher Nolan,696742056,1.449.256,8.6
19,20,Se7en,1995-12-15,Crime,127,USA,R,David Fincher,327333559,1.402.015,8.6
20,21,The Silence of the Lambs,1991-03-05,Crime,118,USA,R,Jonathan Demme,272753884,1.234.134,"8,6"
21,22,Star Wars,1977-10-20,Action,121,USA,PG,George Lucas,775768912,1.204.107,8.6
22,23,Saving Private Ryan,1998-10-30,Drama,169,USA,R,Steven Spielberg,482349603,1.203.825,8.6
23,24,The Green Mile,2000-10-03,Crime,189,USA,R,Frank Darabont,286801374,1.112.336,8.6
24,25,Cidade de Deus,2003-05-09,Crime,130,Brazil,R,"Fernando Meirelles, KÃ¡tia Lund",30680793,685.856,8.6
25,26,Sen to Chihiro no kamikakushi,2003-04-18,Animation,125,Japan,PG,Hayao Miyazaki,355467056,626.693,8.6
26,27,La vita B9 bella,1997-12-20,Comedy,116,Italy,Unrated,Roberto Benigni,230098753,605.648,8.6
27,28,Gisaengchung,2019-11-07,Comedy,132,South Korea,Unrated,Bong Joon Ho,257604912,470.931,8.6
28,29,It's a Wonderful Life,1948-03-11,Drama,130,USA,PG,Frank Capra,6130720,388.310,8.6
29,30,Shichinin no samurai,1955-08-19,Action,207,Japan,Unrated,Akira Kurosawa,322773,307.958,8.6
30,31,Gladiator,2000-05-19,Action,155,USA,R,Ridley Scott,465361176,1.308.193,8.5
31,32,The Departed,2006-10-27,Crime,151,USA,R,Martin Scorsese,291465034,1.159.703,8.5
32,33,The Prestige,2006-12-22,Drama,130,UK,PG-13,Christopher Nolan,109676311,1.155.723,8.5
33,34,Back to the Future,1985-10-18,Adventure,116,USA,PG,Robert Zemeckis,388774684,1.027.330,8.5
34,35,American History X,1999-08-27,Drama,119,USA,R,Tony Kaye,23875127,1.014.218,8.5
35,36,LÃ©on,1995-04-07,Action,110,France,Unrated,Luc Besson,19552639,1.007.598,8.5
36,37,Terminator 2: Judgment Day,1991-12-19,Action,137,USA,R,James Cameron,520884847,974.970,8.4
37,38,The Usual Suspects,1995-11-30,Crime,106,USA,R,Bryan Singer,23341568,968.947,8.4
38,39,The Lion King,1994-11-25,Animation,88,USA,G,"Roger Allers, Rob Minkoff",968511805,917.248,8.4
39,40,Joker,2019-10-03,Crime,122,USA,Unrated,Todd Phillips,1074251311,855.097,8.4
40,41,Intouchables,2012-02-24,Biography,112,France,Unrated,"Olivier Nakache, Ãric Toledano",426588510,736.691,8.4
41,42,The Pianist,2002-10-25,Biography,150,UK,R,Roman Polanski,120072577,707.942,8.4
42,43,Whiplash,2015-02-12,Drama,106,USA,R,Damien Chazelle,48983260,690.732,8.4
43,44,Psycho,1960-10-28,Horror,109,USA,R,Alfred Hitchcock,32008644,586.765,8.3
44,45,Casablanca,21-11-46,Drama,102,USA,PG,Michael Curtiz,4374761,509.953,8.3
45,46,C'era una volta il West,1968-12-21,Western,165,Italy,PG-13,Sergio Leone,112911,295.220,8.3
46,47,Hotaru no haka,2015-10-11,Animation,89,Japan,Unrated,Isao Takahata,516962,225.438,8.3
47,48,Nuovo Cinema Paradiso,1988-11-17,Drama,155,Italy,Unrated,Giuseppe Tornatore,13826605,223.050,8.3
48,49,Modern Times,1937-03-12,Comedy,87,USA,G,Charles Chaplin,457688,211.250,8.3
49,50,The Dark Knight Rises,2012-08-29,Action,164,UK,PG-13,Christopher Nolan,1081133191,1.480.582,8.3
50,51,Django Unchained,2013-01-17,Drama,165,USA,R,Quentin Tarantino,425368238,1.317.856,8.3
51,52,Memento,2001-01-19,Mystery,113,USA,R,Christopher Nolan,39970386,1.098.879,8.2
52,53,WALLÂ·E,2008-10-17,Animation,98,USA,G,Andrew Stanton,521311860,974.734,8.2
53,54,The Shining,1980-12-22,Drama,146,UK,R,Stanley Kubrick,46520613,869.480,8.2
54,55,Raiders of the Lost Ark,1981-06-12,Action,115,USA,PG,Steven Spielberg,390133212,865.510,8.2
55,56,Avengers: Infinity War,2018-04-25,Action,149,USA,Unrated,"Anthony Russo, Joe Russo",2048359754,796.486,8.2
56,57,Alien,1979-10-25,Horror,117,UK,R,Ridley Scott,108110316,768.874,8.2
57,58,Avengers: Endgame,2019-04-24,Action,181,USA,Unrated,"Anthony Russo, Joe Russo",2797800564,754.786,8.2
58,59,Apocalypse Now,1979-12-18,Drama,147,USA,R,Francis Ford Coppola,91968688,591.251,8.2
59,60,Oldeuboi,2005-05-06,Action,120,South Korea,R,Chan-wook Park,15002116,501.082,8.1
60,61,Dr. Strangelove or: How I Learned to Stop Worr...,1964-04-03,Comedy,95,UK,PG,Stanley Kubrick,9443876,441.115,8.1
61,62,Rear Window,1955-04-14,Mystery,112,USA,Unrated,Alfred Hitchcock,37032034,432.390,8.1
62,63,Coco,2017-12-28,Animation,105,USA,Unrated,"Lee Unkrich, Adrian Molina",807083670,352.455,8.1
63,64,Das Leben der Anderen,2007-04-06,Drama,137,Germany,R,Florian Henckel von Donnersmarck,77356942,349.642,8.1
64,65,Spider-Man: Into the Spider-Verse,2018-12-25,Animation,117,USA,Unrated,"Bob Persichetti, Peter Ramsey",375540831,335.892,8.1
65,66,3 Idiots,2009-12-25,Comedy,170,India,Unrated,Rajkumar Hirani,60262836,332.217,8.1
66,67,Mononoke-hime,2000-05-19,Animation,134,Japan,PG-13,Hayao Miyazaki,169785629,331.045,8.0
67,68,Once Upon a Time in America,1984-09-28,Crime,229,USA,R,Sergio Leone,5472914,302.317,8.0
68,69,The Great Dictator,1945-06-25,Comedy,125,USA,Unrated,Charles Chaplin,969879,197.381,8.0
69,70,Sunset Blvd.,"The 6th of marzo, year 1951",Drama,110,USA,Unrated,Billy Wilder,299645,195.789,8.0
70,71,Inglourious Basterds,2009-10-02,Adventure,153,Germany,R,Quentin Tarantino,321455689,1.229.958,8.0
71,72,American Beauty,2000-01-21,Drama,122,USA,R,Sam Mendes,356296601,1.049.009,8.0
72,73,Braveheart,1995-12-01,Biography,178,USA,R,Mel Gibson,213216216,941.683,7.9
73,74,Star Wars: Episode VI - Return of the Jedi,1983-10-21,Action,131,USA,PG,Richard Marquand,475347111,928.036,7.9
74,75,Reservoir Dogs,1992-10-09,Crime,99,USA,R,Quentin Tarantino,2889963,896.551,7.9
75,76,Eternal Sunshine of the Spotless Mind,2004-10-22,Drama,108,USA,R,Michel Gondry,74036715,889.875,7.9
76,77,Toy Story,1996-03-22,Animation,81,USA,G,John Lasseter,404265438,864.461,7.9
77,78,Good Will Hunting,1998-03-06,Drama,126,USA,R,Gus Van Sant,225933435,837.379,7.8
78,79,Snatch,2001-03-16,Comedy,104,UK,R,Guy Ritchie,83557872,766.589,7.8
79,80,Requiem for a Dream,2000-12-15,Drama,102,USA,R,Darren Aronofsky,7390108,748.291,7.8
80,81,A Clockwork Orange,1972-09-07,Crime,136,UK,Unrated,Stanley Kubrick,26903440,740.301,7.8
81,82,Toy Story 3,2010-07-07,Animation,103,USA,G,Lee Unkrich,1066969703,739.717,7.8
82,83,Scarface,1984-02-34,Crime,170,USA,R,Brian De Palma,66023585,721.343,7.8
83,84,Taxi Driver,1976-13-24,Crime,114,USA,R,Martin Scorsese,28441292,703.264,7.7
84,85,Le fabuleux destin d'AmÃ©lie Poulain,2002-01-25,Comedy,122,France,R,Jean-Pierre Jeunet,173924742,690.480,7.7
85,86,Full Metal Jacket,1987-10-09,Drama,116,UK,Unrated,Stanley Kubrick,46357676,658.175,7.7
86,87,Aliens,1986-09-24,Action,137,USA,R,James Cameron,131384634,639.500,7.7
87,88,2001: A Space Odyssey,1968-12-12,Adventure,149,UK,G,Stanley Kubrick,68989547,587.866,7.6
88,89,Citizen Kane,1948-11-25,Drama,119,USA,Unrated,Orson Welles,1594107,389.322,7.6
89,90,1917,2020-01-23,Drama,119,USA,Unrated,Sam Mendes,384857224,362.897,7.6
90,91,Amadeus,1985-02-15,Biography,160,USA,R,Milos Forman,52066791,361.028,7.6
91,92,Vertigo,1958-11-18,Mystery,128,USA,Unrated,Alfred Hitchcock,7796389,352.786,7.5
92,93,North by Northwest,1959-10-28,Adventure,136,USA,Unrated,Alfred Hitchcock,73446,291.628,7.5
93,94,Jagten,2012-11-22,Drama,115,Denmark,R,Thomas Vinterberg,15843274,269.616,7.5
94,95,Lawrence of Arabia,1963-10-29,Adventure,228,UK,PG,David Lean,45710874,261.504,7.5
95,96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,156000000,236.285,7.5
96,97,Das Boot,1982-03-18,Adventure,149,Germany,R,Wolfgang Petersen,11487676,226.427,7.5
97,98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,Unrated,Sergio Leone,15000000,226.039,7.4
98,99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214.165,7.4
99,100,Singin' in the Rain,1953-02-05,Comedy,103,USA,Unrated,Stanley Donen,1864182,213.152,7.4

## Convert the *release_year* column to datetime data type.

In [22]:
df.release_year = pd.to_datetime(df.release_year, errors='coerce', infer_datetime_format=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 100
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_title   100 non-null    object
 1   release_year  97 non-null     datetime64[ns]
 2   genre         100 non-null    object
 3   duration      99 non-null     object
 4   country       100 non-null    object
 5   rating        100 non-null    object
 6   director      100 non-null    object
 7   income        100 non-null    int64
 8   votes         100 non-null    object
 9   score         100 non-null    object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 8.6+ KB

## Score and Votes column cleaning.

### . Replaced unwanted characters and converting the *score* column to float data type.

In [24]:
df.score.unique()

array(['9.3', '9.2', '9.', '9,.0', '8,9f', '08.9', '8.9', '8..8', '8.8',
       '8:8', '++8.7', '8.7.', '8,7e-0', '8.7', '8.6', '8,6', '8.5',
       '8.4', '8.3', '8.2', '8.1', '8.0', '7.9', '7.8', '7.7', '7.6',
       '7.5', '7.4'], dtype=object)

In [25]:
df.score = df.score.str.strip('+')

In [26]:
df.score = df.score.str.rstrip('e-0')

In [27]:
df.score = df.score.str.rstrip('.')

In [28]:
df.score = df.score.str.rstrip('f')

In [29]:
df.score = df.score.str.replace(',', '.')

In [30]:
df.score = df.score.str.replace(':', '.')

In [31]:
df.score = df.score.str.replace('..', '.', regex=False)

In [32]:
df.score.unique()

array(['9.3', '9.2', '9', '9.', '8.9', '08.9', '8.8', '8.7', '8.6', '8.5',
       '8.4', '8.3', '8.2', '8.1', '8', '7.9', '7.8', '7.7', '7.6', '7.5',
       '7.4'], dtype=object)

In [33]:
# Converting 'score' column data type to float.

df.score = df.score.astype(float)

In [34]:
df.score.info()

<class 'pandas.core.series.Series'>
Int64Index: 100 entries, 0 to 100
Series name: score
Non-Null Count  Dtype
--------------  -----
100 non-null    float64
dtypes: float64(1)
memory usage: 1.6 KB

In [35]:
df.votes.unique()

array(['2.278.845', '1.572.674', '2.241.615', '1.098.714', '1.780.147',
       '1.604.280', '1.183.248', '668.473', '2.002.816', '1.807.440',
       '1.755.490', '1.619.920', '672.499', '1.632.315', '1.449.778',
       '1.132.073', '991.505', '891.071', '1.449.256', '1.402.015',
       '1.234.134', '1.204.107', '1.203.825', '1.112.336', '685.856',
       '626.693', '605.648', '470.931', '388.310', '307.958', '1.308.193',
       '1.159.703', '1.155.723', '1.027.330', '1.014.218', '1.007.598',
       '974.970', '968.947', '917.248', '855.097', '736.691', '707.942',
       '690.732', '586.765', '509.953', '295.220', '225.438', '223.050',
       '211.250', '1.480.582', '1.317.856', '1.098.879', '974.734',
       '869.480', '865.510', '796.486', '768.874', '754.786', '591.251',
       '501.082', '441.115', '432.390', '352.455', '349.642', '335.892',
       '332.217', '331.045', '302.317', '197.381', '195.789', '1.229.958',
       '1.049.009', '941.683', '928.036', '896.551', '889.875', '864.461',
       '837.379', '766.589', '748.291', '740.301', '739.717', '721.343',
       '703.264', '690.480', '658.175', '639.500', '587.866', '389.322',
       '362.897', '361.028', '352.786', '291.628', '269.616', '261.504',
       '236.285', '226.427', '226.039', '214.165', '213.152'],
      dtype=object)

In [36]:
# Replacing '.' with an empty string, and converting the 'votes' column to integer data type.

df.votes = df.votes.str.replace('.', '', regex=False).astype(np.int64)

In [37]:
df.votes.info()

<class 'pandas.core.series.Series'>
Int64Index: 100 entries, 0 to 100
Series name: votes
Non-Null Count  Dtype
--------------  -----
100 non-null    int64
dtypes: int64(1)
memory usage: 1.6 KB

In [38]:
df.head()

,movie_title,release_year,genre,duration,country,rating,director,income,votes,score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,The Godfather,1972-09-21,Crime,175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,The Dark Knight,2008-07-23,Action,152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,408035783,1098714,9.0
4,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,222831817,1780147,8.9

## Cleaning the *duration* column.

In [39]:
df.duration.unique()

array(['142', '175', '152', '220', ' ', '201', 'Nan', '96', '148', 'Inf',
       '178c', '161', nan, '179', 'Not Applicable', '146', '-', '169',
       '127', '118', '121', '189', '130', '125', '116', '132', '207',
       '155', '151', '119', '110', '137', '106', '88', '122', '112',
       '150', '109', '102', '165', '89', '87', '164', '113', '98', '115',
       '149', '117', '181', '147', '120', '95', '105', '170', '134',
       '229', '153', '178', '131', '99', '108', '81', '126', '104', '136',
       '103', '114', '160', '128', '228', '129', '123'], dtype=object)

In [42]:
# Replace inf and NaN data type with 0

pd.set_option('use_inf_as_na', True)
df.duration = df.duration.str.strip('c')
df.duration = df.duration.str.replace('Not Applicable', '0')
df.duration = df.duration.str.replace('-', '0')
df.duration = df.duration.str.replace(' ', '0')

In [44]:
df.duration = pd.to_numeric(df.duration, errors='coerce')
df.duration = df.duration.fillna(0)

In [45]:
df.duration = df.duration.astype(np.int64)

In [46]:
df.duration.info()

<class 'pandas.core.series.Series'>
Int64Index: 100 entries, 0 to 100
Series name: duration
Non-Null Count  Dtype
--------------  -----
100 non-null    int64
dtypes: int64(1)
memory usage: 1.6 KB

In [47]:
pd.reset_option('display.max_rows')

# Final Result

In [48]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 100
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_title   100 non-null    object
 1   release_year  97 non-null     datetime64[ns]
 2   genre         100 non-null    object
 3   duration      100 non-null    int64
 4   country       100 non-null    object
 5   rating        100 non-null    object
 6   director      100 non-null    object
 7   income        100 non-null    int64
 8   votes         100 non-null    int64
 9   score         100 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 8.6+ KB
None

In [49]:
df

,movie_title,release_year,genre,duration,country,rating,director,income,votes,score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,The Godfather,1972-09-21,Crime,175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,The Dark Knight,2008-07-23,Action,152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,408035783,1098714,9.0
4,Pulp Fiction,1994-10-28,Crime,0,USA,R,Quentin Tarantino,222831817,1780147,8.9
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,156000000,236285,7.5
97,Das Boot,1982-03-18,Adventure,149,Germany,R,Wolfgang Petersen,11487676,226427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,Unrated,Sergio Leone,15000000,226039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4
100,Singin' in the Rain,1953-02-05,Comedy,103,USA,Unrated,Stanley Donen,1864182,213152,7.4

In [52]:
df.to_csv('Cleaned_MessyData.csv', encoding='Latin-1', sep=',')